/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

h1, h2, h3, h4, h5,
p, ul, a, nav, header, body{
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
}

nav {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}
nav a{
    height: 9vh;
    
    color: #1a1a1a;
}

a img {
    height: inherit;
    padding: 0.5vh 0;
}

ul{
    height: inherit;
    list-style: none;
    display: flex;
    align-items: center;
}

li{
    margin-right: 1em;
}

li a:hover {
   color: #fff; 
}

nav li:hover{
    background-color: #26b26c;
    padding: 20px 0;
}

header{
    height: 100vh;
    width: 100vw;
    background-image: url('../images/landing.jpg');
    background-size: cover;
}

.header{
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.header h1{
    font-size: 3.5em;
    font-weight: 500;
}

.header p {
    text-align: center;
    font-weight: 100;
    font-size: 1.2em;
    margin: 1.2em;
}

section {
    height: 70vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#orange {
    height: 60vh;
    width: 90vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.yellow {
    height: 30vh;
    width: 30vw;
    padding: 0 20px;
    text-align: center;
}

.yellow img{
    height: 10vh;
}

.h3-section {
    border-bottom: 2px solid #00B172;
    height: fit-content;
    margin-top: auto;
}

.h3-section h3 {
    font-size: 2em;
    font-weight: 400;
}

.yellow h4 {
    color: #00B172;
    font-size: larger;
    font-weight: 600;
    margin: 20px;
}

footer {
    margin: 0 5vw;
    background-color: #00B172;
    height: 100vh;

}

.inner-footer{
    margin: 70px
}

.inner-footer h3{
    width: max-content;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-size: 1.5em;
    font-weight: lighter;
    padding-top: 1em;
}

.footer-2 img {
    width: 100px;
}

.footer-3 img {
    width: 300px;
}

article{
    display: flex;
    flex-direction: column;
    width: calc(100% - 170px - 30vw);
    height: calc(100vh - 124px - 1.5em);
    justify-content: space-around;
}

.comments{

    color: #fff;
}

.comments h5{
    font-size: 1.2em;
    margin-bottom: 1em;
}

.inner-footer-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}